<?xml version="1.0"?>
<configuration>
    <system.web>
        <authorization>
            <deny users="?" />
        </authorization>
    </system.web>

    <!-- Allow ALL users to visit the EnhancedCreateUserPage.aspx -->
    <location path="EnhancedCreateUserWizard.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="UserBasedAuthorization.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
</configuration>
