<?xml version="1.0"?>
<configuration>
    <appSettings>
      
    </appSettings>
	<connectionStrings>
		<remove name="LocalSqlServer" />
		<add name="OpenId" providerName="System.Data.SqlClient" connectionString="server=localhost;database=OPENID;uid=[userid];pwd=[password]" />
	</connectionStrings>
	<system.web>
		<anonymousIdentification enabled="true" />


		<authentication mode="Forms">
			<forms loginUrl="~/Default.aspx" cookieless="UseDeviceProfile" name="OpenIdAuth" path="/" slidingExpiration="true" timeout="9000" protection="All" enableCrossAppRedirects="true" />
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
		
		<membership defaultProvider="MyMembershipProvider">
			<providers>
				<clear />
				<add name="MyMembershipProvider" type="PAB.Web.Providers.SimpleSqlMembershipProvider,PAB.Web.Providers" connectionStringName="OpenId" RequiresQuestionAndAnswer="true" EnablePasswordRetrieval="true" />

			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="MyRoleProvider" cacheRolesInCookie="true">
			<providers>
				<clear />
				<add name="MyRoleProvider" type="PAB.Web.Providers.SimpleSqlRoleProvider,PAB.Web.Providers" connectionStringName="OpenId" cacheRolesInCookie="true" />

			</providers>
		</roleManager>
		<profile enabled="true" automaticSaveEnabled="false" defaultProvider="MyProfileProvider">
			<providers>
				<clear />
				<add name="MyProfileProvider" type="PAB.Web.Providers.SimpleSqlProfileProvider,PAB.Web.Providers" connectionStringName="OpenId" tableName="Profiles" keyColumnName="UserName" lastUpdateColumnName="LastUpdate"   />
			</providers>
			<properties>
				<add name="FirstName" type="String" customProviderData="FirstName;varchar;50" />
				<add name="LastName" type="String" customProviderData="LastName;varchar;50" />
				<add name="Newsletter" type="Bool" defaultValue="True" customProviderData="Newsletter;bit;1" />
				<add name="Email" type="String" customProviderData="Email;varchar;300" />
			</properties>
			 
		</profile>
		<compilation debug="true" />
	   </system.web>
</configuration>
