<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="tokenAuthentication" type="TokenAuthentication.Web.Configuration.TokenAuthenticationConfigSection, TokenAuthentication"/>
	</configSections>
	
	<tokenAuthentication loginUrl="~/tokenlogin.aspx" pendingTimeout="00:00:30">
		<tokenGenerator type="TokenAuthentication.Web.DefaultTokenGenerator, TokenAuthentication">
			<settings>
				<add key="Chars" value="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789" />
				<add key="MinTokenLength" value="6" />
				<add key="MaxTokenLength" value="10" />
			</settings>
		</tokenGenerator>
		<addressResolver type="TokenAuthentication.Web.DebugAddressResolver, TokenAuthentication">
			<settings>
				<add key="Address" value="john.doe@inter.net"/>
			</settings>
		</addressResolver>
		
		<tokenSender type="TokenAuthentication.Web.DebugTokenSender, TokenAuthentication">
			<settings>
				<add key="GlobalResourceName" value="Email"/>
				<add key="Path" value="C:\Temp\Tokens"/>
			</settings>
		</tokenSender>

		<userIdentifier type="TokenAuthentication.Web.SessionUserIdentifier, TokenAuthentication"></userIdentifier>
		
		<includePaths>
			<add path="/admin/"/>
			<add path="/meetings/"/>
		</includePaths>
		<excludePaths>
			<add path="/admin/help/"/>
			<add path="/meetings/help/"/>
		</excludePaths>
	</tokenAuthentication>
	
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="tokens@inter.net">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\Pickup"/>
			</smtp>
		</mailSettings>
	</system.net>
	
	<system.web>
		
		<compilation debug="true"/>
		
		<authentication mode="Windows">
			<forms loginUrl="~/login.aspx" defaultUrl="~/default.aspx" />
		</authentication>
		
		<authorization>
			<deny users="?"/>
		</authorization>
		
		<httpHandlers>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		
		<httpModules>
			<add name="TokenAuthenticationModule" type="TokenAuthentication.Web.TokenAuthenticationModule, TokenAuthentication, Version=*, Culture=neutral"/>
		</httpModules>
		
		<membership defaultProvider="MyCustomMembership">
			<providers>
				<clear/>
				<add name="MyCustomMembership" type="TokenAuthenticationProto.CustomMembershipProvider, TokenAuthenticationProto, Version=*, Culture=neutral"/>
			</providers>
		</membership>

		<pages enableSessionState="true">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
	</system.web>
</configuration>
